.bloque:hover{
    -webkit-box-shadow:0px 0px 31px 7px rgba(45,255,196,0.9);
-moz-box-shadow: 0px 0px 31px 7px rgba(45,255,196,0.9);
box-shadow: 0px 0px 31px 7px rgba(45,255,196,0.9);
transform: scale(1.05); 
cursor: zoom-in;
}

.films{
    background-image: url(https://images.unsplash.com/photo-1591255347692-01f53b582e6d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;  
}

.people{
    background-image: url(https://images.unsplash.com/photo-1617799890023-c7b03d079b1f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHN0YXJ3YXJzfGVufDB8fDB8fHww);
    background-size:cover; 
}

.planets{
    background-image: url(https://img1.wallspic.com/previews/1/4/9/3941/3941-objeto_astronomico-espacio_de_arte-la_ciencia_ficcion-via_lactea-espacio-x750.jpg);
    background-size:cover; 
}

.bloque{
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(246, 5, 5, 0.1);
    padding: 20px;
    height: 600px;
    transition: transform 0.3s ease;
}


.h1:hover{
    color:gold;
    
}

.star{
    color: gold;

}

.planetCard{
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(246, 5, 5, 0.1);
    background-color:black;
    transition: transform 0.3s ease;
}

.planetCard:hover{
    border: solid gold;
    transform: scale(1.05); 
cursor: zoom-in;
}

.Btnt {
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
  }
  
  .Btnt::before {
    position: absolute;
    content: "FAVORITE";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }
  
  .Btnt:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btnt:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btnt:active {
    transform: scale(0.95);
  }

  .BtnM {
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#770a0a,#ffa977,#770a0a,#77270a,#ff7777,#77390a);
    background-size: 250%;
    background-position: left;
    color: #e23434;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
  }
  
  .BtnM::before {
    position: absolute;
    content: "MORE INFO";
    color: #ff7777;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }
  
  .BtnM:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .BtnM:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .BtnM:active {
    transform: scale(0.95);
  }

  .importante{
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%231f1f20' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  }

  .importante{
    border: solid gold;
  }

  .img-info{
    border: lab(from red l a b)
  }

  .descripcion {
    color:gold
  }
  .descripcion-texto{
    margin: 10px;
  }